body{
    		background-image: url("../images/back.jpg");
    		opacity: 0.8;
    		background-repeat: no-repeat;
    		background-size: cover;
    		color: black;
    	}
    	a{
    		text-decoration: none;
    		color: black;	
    	}
    	a:hover{
    		color:#808080;
    		
    	}
    	
    	.title{
    		font-size: x-large;
    		
    		margin-left: 500px;
    	}
    	.user{
    		float: right;
    		margin-right: 100px;
    		letter-spacing: 1px;
    	}
    	.userimg{
    		 border-radius:50%;
    		 width: 30px;
    	}
		
		#leave{
			float: left;
			margin-left: 150px;
		}
    	.table1{
            margin-top: 40px;
        }
    	.table1 th,td{
    		border: 1px solid black;
    		border-collapse: collapse;
    	}
    	.btn input{
    		margin-left: 100px;
    	}

        #box{
        	/*background-image: url(../../login/images/login/back2.jpg);*/
        	background-color: rgba(255,256,256,0.4);
            float: left;
            margin-left: 200px;
            width: 800px;
            height: 500px;
            overflow-y:scroll;
        }
        .one{
            border: 1px solid black;
            margin: 10px;
            margin-top: 20px;
        }